@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
:root {
	--color1: #f4e409;
	--color2: #eeba0b;

}

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
	background: #353535;
	color: #c4c4c4;
	font-family: "Raleway", sans-serif;
	font-size: 1.2rem;
	line-height: 1.45;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
}

.sidebar {
	background-color: #4f4f4f;
	flex: 1 1 20%;
	min-width: 300px;
	padding: 3rem;
	position: relative;
	display: flex;
}

.logo {
	text-transform: uppercase;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.logo span {
	font-weight: 700;
}


.logo i {
	visibility: hidden;
}

.menu {
	position: absolute;
	right: 0;
	margin: auto
}

.nav-item {
	color: #939393;
	text-decoration: none;
	margin-right: 1em;
	font-size: 1.7rem;
	display: inline-block;
}

.text {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}


.card {
	position: relative;

}

.card:hover {
	transform:scale(0.98);
}

.nav-item.active {
	color: #c4c4c4;
	font-weight: bold;
}

.main-content {
	flex: 1 1 80%;
	min-height: 100vh;
	padding: 3rem;
	width: 100%;
	height: 100%;
}

.portfolio {
	gap: 8px;
	display: grid;
	grid-template-areas: 
	
	'one two two two two'
	'one three three four eight'
	'one six five four eight'
	'one six seven seven eight'
	'nine nine nine nine eight'
	;

	width: 100%;
	height: 100%;
}


img {
	width: 100%;
	height: 100%;
}

.one {
	grid-area: one;

}

.two {
	grid-area: two;
}


.three {
	grid-area: three;
}

.four {
	grid-area: four;
}

.five {
	grid-area: five;
}

.six {
	grid-area: six;
}

.seven {
	grid-area: seven;
}

.eight {
	grid-area: eight;
}

.nine {
	grid-area: nine;
}

@media(min-width: 1000px)
{
	.nav-item {
		display: block;
		margin:7vh 0;
	}

	body {
		display: grid;
		grid-template-areas: 
			'sidebar main'
		;

		grid-template-columns: 1fr 4fr;
	}


	.sidebar {
		grid-area: sidebar;
		display: inline-block;
		padding: 1.5rem;
	}

	.main-content {
		grid-area: main;
	}

	.menu {
		position: relative;
	}

	.nav-item {
		display: flex;
		align-content: left;
		padding-bottom: 3rem;
		
	}

}

@media (max-width: 768px) { 
	.portfolio {
		gap: 8px;
		display: grid;
		grid-template-areas: 
				'one'
				'two'
				'three'
				'four'
				'five'
				'six'
				'seven'
				'eight'
				'nine'
		;
	
	}

	img {
		visibility: hidden;
	}

	.card {
		background-color: #939393;
		height: 200px;
		box-shadow: 7px 7px 0px rgba(24, 24, 24, 0.485);
	}

	.text {
		position: relative;
		visibility: visible;
		text-align: center;
		padding-top: 70px;
		font-family: "Raleway", sans-serif;
		color:whitesmoke;
		/* color: black; */
		font-size: 1.8rem;
		margin: auto;
	}

	.four .text {
		padding-top: 40px;
	}

	.menu {
		position: relative;
	}

	.sidebar {
		display: inline-block;
	}

	.nav-item {
		display: flex;
		justify-content: center;
		margin: auto;
	}

	.logo i {
		visibility: visible;
		position: absolute;
		top: 20;
		right: 0;
		padding-right: 40px;
		padding-top: 23px;
	}

}
